
@font-face {
	font-family: familiada;
	src: url(../font/familiada.woff);
}

body
{
	background-color: black;
	color: yellow;

	font-family: 'familiada';
	text-transform: lowercase;
}

div#tournament
{
	text-align: center;
	margin: 100px;
	margin-top: 10px;
	margin-bottom: 5px;
}

div.errors
{
	text-align: center;
	font-size: 8em;
	margin: 10px;
	margin-bottom: 0px;
	line-height: 120%;
}

div#lefterrors
{
	float: left;
}

div#righterrors
{
	float: right;
}

span#question
{
	font-size: 3em;
	line-height: 120%;
}

ul#answers
{
	list-style-type: decimal;
	margin: 10pt;
}

ul#answers *
{
	font-size: 3em;
	padding: 15px;
}

