@font-face {
	font-family: 'LCDBOLD';
	src: url('./LCDBOLD.eot');
	src: local('LCDBOLD'), url('./LCDBOLD.woff') format('woff'), url('./LCDBOLD.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_523">Text with this font applied</p> */
.fontsforweb_fontid_523 {
	font-family: 'LCDBOLD' !important;
}

/* Font downloaded from FontsForWeb.com */